html {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  text-decoration: none;
}

h1 {
  margin: 0;
  color: #fff;
  font-style: bold;
  background-color: #d05c2e;
  text-align: center;
}

body {
  margin: 0;
}

nav {
  margin: 0;
}

.list {
  list-style-type: none;
  display: inline;
  margin: 0;
}

li {
  text-decoration: none;
  margin: 0;
  background-color: #d05c2e;
  color: #fff;
  font-style: bold;
}
