html {
  font-family: Merriweather, serif;
  line-height: 1.5;
  text-decoration: none;
}

.left {
  width: 50%;
  max-width: 3rem;
  margin-top: 1rem;
  float: left;
}

.right {
  width: 50%;
  max-width: 3rem;
  float: right;
  margin-top: 1rem;
}

h1 {
  margin: 0;
  color: #fff;
  font-style: bold;
  background-color: #d05c2e;
  text-align: center;
  padding: 1rem;
}

body {
  margin: 0;
}

nav {
  margin: 0;
}

.list {
  list-style-type: none;
  display: inline;
  margin: 0;
}

li {
  text-decoration: none;
  margin: 0;
  background-color: #d05c2e;
  color: #fff;
  font-style: bold;
}
